#requireResource("no.hal.eclipsky.confluedit:confluedit-resources")
#requireResource("confluence.web.resources:jquery")
<div id="confluedit-container">
    <div id="confluedit-editor">
        <input type="hidden" id="taskId" value="$task-id" />
        <input type="hidden" id="difficulty" value="$difficulty" />
        <input type="hidden" id="effort" value="$effort" />
        #if( !$userId )
        <input type="submit" id="confluedit-login" value="Klikk her for å logge inn" />
        #end
        <input type="submit" id="confluedit-start" value="Start prosjekt" />
    </div>

    <code id="confluedit-xemfs">
        $xemfs
    </code>
</div>
